h1 {
  text-align: center;
  font-family: "Atma", cursive;
  line-height: 4px;
}

.container {
  border: 4px solid rgb(173, 201, 173);
  border-radius: 4px;
}

.date {
  text-align: center;
}

.today-is {
  font-family: "Atma", cursive;
  font-family: "Roboto Mono", monospace;
  color: midnightblue;
  font-size: 50px;
}
.day {
  font-size: 25px;
}
.temp {
  font-size: 20px;
}
.current {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  height: 5px;
}

.temperature {
  font-size: 45px;
  height: 50px;
  font-stretch: ultra-expanded;
}
.city {
  font-size: 35px;
  text-align: right;
  font-family: "Bitter", serif;
  display: block;
  color: gray;
}
